<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h3>HOLA</h3>
        </div>
        <div class="col-md-6">
            <h3>MUNDO</h3>
        </div>
    </div>
</div>
